.custom-navbar {
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
    transition: background 0.3s ease;
    position: fixed;
    top: 0;
    background: transparent;
}

.custom-navbar.scrolled {
    background: rgba(0, 0, 0, 0.8);
}

.custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.custom-navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.custom-navbar-links {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.custom-nav-link {
    color: #fff !important;
    font-size: 1rem;
    text-decoration: none;
}

.custom-nav-link:hover {
    color: #ff6f61;
}

.content-container {
    padding-top: 70px;
    min-height: calc(100vh - 70px - 100px);
    display: flex;
    flex-direction: column;
}


.logo {
    height: 60px;
    width: auto;
}

@media (max-width: 992px) {
    .custom-navbar-links {
        display: none;
    }
}
