/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.container-fluid {
  padding: 2rem 1rem;
}

.hero-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
}


.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.navbar .navbar-nav .nav-link {
  margin-left: 1rem;
}

.bg-light {
  background-color: #f8f9fa !important;
}
